<a href="https://colab.research.google.com/github/aswini-training/python/blob/main/Airport_Mini_Project_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from google.colab import drive
drive.mount('/content/drive')
df=pd.read_csv('/content/drive/MyDrive/airports-extended.csv')
df.columns=['Airport_ID','Name','City','Country','IATA','ICAO','Latitude','Longitude','Altitude','Timezone','DST','Tz Database Timezone','Type','Source']
print(df.head(4))

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   Airport_ID                          Name         City           Country  \
0           1                Goroka Airport       Goroka  Papua New Guinea
1           2                Madang Airport       Madang  Papua New Guinea
2           3  Mount Hagen Kagamuga Airport  Mount Hagen  Papua New Guinea
3           4                Nadzab Airport       Nadzab  Papua New Guinea

  IATA  ICAO  Latitude   Longitude  Altitude Timezone DST  \
0  GKA  AYGA -6.081690  145.391998      5282       10   U
1  MAG  AYMD -5.207080  145.789002        20       10   U
2  HGU  AYMH -5.826790  144.296005      5388       10   U
3  LAE  AYNZ -6.569803  146.725977       239       10   U

   Tz Database Timezone     Type       Source
0  Pacific/Port_Moresby  airport  OurAirports
1  Pacific/Port_Moresby  airport  OurAirports
2  Pacific/Port_Moresby  airport  OurAirports
3  Pacific/Port_Moresby  airport  OurAirports

In [23]:
#Q1: Top 20 highest altitude airports in the world. Choose only “type” with “airport”
#Output:airport_id, name, city, country, altitude, rank
df_altitude=df[df['Type']=='airport']
top_20_airports = df_altitude.nlargest(20, 'Altitude').reset_index()
top_20_airports['Rank'] = top_20_airports.index + 1 # Adding a rank column based on the index
output = top_20_airports[['Airport_ID', 'Name', 'City', 'Country', 'Altitude', 'Rank']]
print(output)

    Airport_ID                                    Name         City  \
0         9310                 Daocheng Yading Airport     Daocheng
1         6396                    Qamdo Bangda Airport       Bangda
2         8921                        Kangding Airport     Kangding
3         7932                     Ngari Gunsa Airport    Shiquanhe
4         2762           El Alto International Airport       La Paz
5         2764           Capitan Nicolas Rojas Airport       Potosi
6         7894                    Yushu Batang Airport        Yushu
7         8969                      Copacabana Airport   Copacabana
8         2792  Inca Manco Capac International Airport      Juliaca
9        13483                     Golog Maqin Airport        Golog
10        7766                      Syangboche Airport   Syangboche
11        2763                    Juan Mendoza Airport        Oruro
12        4097                   Lhasa Gonggar Airport        Lhasa
13       10943                        Hongyuan Airport        Ngawa
14        2464                       La Quiaca Airport    Laboulaye
15        4301               Jiuzhai Huanglong Airport   Jiuzhaigou
16        2787                     Andahuaylas Airport  Andahuaylas
17        7313                           Uyuni Airport        Uyuni
18        2791                 Francisco Carle Airport        Jauja
19        4174                          Manang Airport       Manang

      Country  Altitude  Rank
0       China     14472     1
1       China     14219     2
2       China     14042     3
3       China     14022     4
4     Bolivia     13355     5
5     Bolivia     12913     6
6       China     12816     7
7     Bolivia     12591     8
8        Peru     12552     9
9       China     12426    10
10      Nepal     12400    11
11    Bolivia     12152    12
12      China     11713    13
13      China     11600    14
14  Argentina     11414    15
15      China     11327    16
16       Peru     11300    17
17    Bolivia     11136    18
18       Peru     11034    19
19      Nepal     11001    20

In [21]:
#Q2: Top 20 countries that have the highest total # of airports.
#Output:country, total_airports, rank
from tabulate import tabulate
df_airport=df[df['Type']=='airport']
countries_airport = df.groupby('Country').size()
top_20_countries = countries_airport.nlargest(20).reset_index(name='Total_airports')
top_20_countries['Rank'] = range(1, 21)
print(tabulate(top_20_countries.head(20),headers= ['Country','Total Airports','Rank'],tablefmt='grid'))

+----+----------------+------------------+--------+
|    | Country        |   Total Airports |   Rank |
+====+================+==================+========+
|  0 | United States  |             2708 |      1 |
+----+----------------+------------------+--------+
|  1 | Germany        |              820 |      2 |
+----+----------------+------------------+--------+
|  2 | Canada         |              640 |      3 |
+----+----------------+------------------+--------+
|  3 | France         |              454 |      4 |
+----+----------------+------------------+--------+
|  4 | Australia      |              445 |      5 |
+----+----------------+------------------+--------+
|  5 | Russia         |              427 |      6 |
+----+----------------+------------------+--------+
|  6 | China          |              418 |      7 |
+----+----------------+------------------+--------+
|  7 | United Kingdom |              371 |      8 |
+----+----------------+------------------+--------+
|  8 | Brazil         |              288 |      9 |
+----+----------------+------------------+--------+
|  9 | Japan          |              247 |     10 |
+----+----------------+------------------+--------+
| 10 | India          |              223 |     11 |
+----+----------------+------------------+--------+
| 11 | Indonesia      |              189 |     12 |
+----+----------------+------------------+--------+
| 12 | Sweden         |              183 |     13 |
+----+----------------+------------------+--------+
| 13 | Italy          |              178 |     14 |
+----+----------------+------------------+--------+
| 14 | Spain          |              145 |     15 |
+----+----------------+------------------+--------+
| 15 | South Africa   |              121 |     16 |
+----+----------------+------------------+--------+
| 16 | Netherlands    |              117 |     17 |
+----+----------------+------------------+--------+
| 17 | Taiwan         |              113 |     18 |
+----+----------------+------------------+--------+
| 18 | Switzerland    |              109 |     19 |
+----+----------------+------------------+--------+
| 19 | Argentina      |              108 |     20 |
+----+----------------+------------------+--------+

In [37]:
#Q3:Top 20 cities that have the highest total # of airports. (Two cities from different countries can have the same name, and you have to make sure the numbers are not messed up due to that!)
#Output:city, total_airports, rank

city_countries_airport = df_airport.groupby(['City','Country'])['Name'].count()
top_20_cities = city_countries_airport.nlargest(20).reset_index(name='Total_airports')
top_20_cities['Rank'] = range(1, 21)
output = top_20_cities[['City', 'Total_airports', 'Rank']]
print(tabulate(output.head(20),headers= ['City','Total Airports','Rank'],tablefmt='grid'))

+----+--------------+------------------+--------+
|    | City         |   Total Airports |   Rank |
+====+==============+==================+========+
|  0 | Columbus     |                8 |      1 |
+----+--------------+------------------+--------+
|  1 | New York     |                8 |      2 |
+----+--------------+------------------+--------+
|  2 | London       |                7 |      3 |
+----+--------------+------------------+--------+
|  3 | Tokyo        |                7 |      4 |
+----+--------------+------------------+--------+
|  4 | Atlanta      |                6 |      5 |
+----+--------------+------------------+--------+
|  5 | Beijing      |                6 |      6 |
+----+--------------+------------------+--------+
|  6 | Houston      |                6 |      7 |
+----+--------------+------------------+--------+
|  7 | Istanbul     |                6 |      8 |
+----+--------------+------------------+--------+
|  8 | Jacksonville |                6 |      9 |
+----+--------------+------------------+--------+
|  9 | Moscow       |                6 |     10 |
+----+--------------+------------------+--------+
| 10 | Toronto      |                6 |     11 |
+----+--------------+------------------+--------+
| 11 | Chicago      |                5 |     12 |
+----+--------------+------------------+--------+
| 12 | Greenville   |                5 |     13 |
+----+--------------+------------------+--------+
| 13 | Hong Kong    |                5 |     14 |
+----+--------------+------------------+--------+
| 14 | Izmir        |                5 |     15 |
+----+--------------+------------------+--------+
| 15 | Paris        |                5 |     16 |
+----+--------------+------------------+--------+
| 16 | Vancouver    |                5 |     17 |
+----+--------------+------------------+--------+
| 17 | Anchorage    |                4 |     18 |
+----+--------------+------------------+--------+
| 18 | Ankara       |                4 |     19 |
+----+--------------+------------------+--------+
| 19 | Atmautluak   |                4 |     20 |
+----+--------------+------------------+--------+