<a href="https://colab.research.google.com/github/aswini-training/python/blob/main/Corona.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Part I: Observation Questions
#How many distinct counties + state there (hint: unique)
#Is there any data missing for any month/day of any year? (hint: use unique applied on date + month part of each year.
#concat can be used in case of similar columns
import pandas as pd
import numpy as np
import datetime
from google.colab import drive
drive.mount('/content/drive')
df1 = pd.read_csv('/content/drive/MyDrive/us-counties.csv')
df2 = pd.read_csv('/content/drive/MyDrive/us-counties-recent.csv')
Concat_df = pd.concat([df1, df2], ignore_index=True)
count = Concat_df[['county','state']].nunique()
print(count)

#Convert the 'date' column to datetime format
Concat_df['date'] = pd.to_datetime(Concat_df['date'])
start_date = '01/01/2020'
end_date = '12/31/2022'
#Create a complete set of dates within your defined range
all_dates = pd.date_range(start=start_date, end=end_date, freq='D')
unique_dates = Concat_df['date'].unique()

#Find missing dates
missing_dates = all_dates.difference(unique_dates)
print(unique_dates)
print(missing_dates)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
county    1930
state       56
dtype: int64
['2020-01-21T00:00:00.000000000' '2020-01-22T00:00:00.000000000'
 '2020-01-23T00:00:00.000000000' '2020-01-24T00:00:00.000000000'
 '2020-01-25T00:00:00.000000000' '2020-01-26T00:00:00.000000000'
 '2020-01-27T00:00:00.000000000' '2020-01-28T00:00:00.000000000'
 '2020-01-29T00:00:00.000000000' '2020-01-30T00:00:00.000000000'
 '2020-01-31T00:00:00.000000000' '2020-02-01T00:00:00.000000000'
 '2020-02-02T00:00:00.000000000' '2020-02-03T00:00:00.000000000'
 '2020-02-04T00:00:00.000000000' '2020-02-05T00:00:00.000000000'
 '2020-02-06T00:00:00.000000000' '2020-02-07T00:00:00.000000000'
 '2020-02-08T00:00:00.000000000' '2020-02-09T00:00:00.000000000'
 '2020-02-10T00:00:00.000000000' '2020-02-11T00:00:00.000000000'
 '2020-02-12T00:00:00.000000000' '2020-02-13T00:00:00.000000000'
 '2020-02-14T00:00:00.000000000' '2020-02-15T00:00:00.000000000'
 '2020-02-16T00:00:00.000000000' '2020-02-17T00:00:00.000000000'
 '2020-02-18T00:00:00.000000000' '2020-02-19T00:00:00.000000000'
 '2020-02-20T00:00:00.000000000' '2020-02-21T00:00:00.000000000'
 '2020-02-22T00:00:00.000000000' '2020-02-23T00:00:00.000000000'
 '2020-02-24T00:00:00.000000000' '2020-02-25T00:00:00.000000000'
 '2020-02-26T00:00:00.000000000' '2020-02-27T00:00:00.000000000'
 '2020-02-28T00:00:00.000000000' '2020-02-29T00:00:00.000000000'
 '2020-03-01T00:00:00.000000000' '2020-03-02T00:00:00.000000000'
 '2020-03-03T00:00:00.000000000' '2020-03-04T00:00:00.000000000'
 '2020-03-05T00:00:00.000000000' '2020-03-06T00:00:00.000000000'
 '2020-03-07T00:00:00.000000000' '2020-03-08T00:00:00.000000000'
 '2020-03-09T00:00:00.000000000' '2020-03-10T00:00:00.000000000'
 '2020-03-11T00:00:00.000000000' '2020-03-12T00:00:00.000000000'
 '2020-03-13T00:00:00.000000000' '2020-03-14T00:00:00.000000000'
 '2020-03-15T00:00:00.000000000' '2020-03-16T00:00:00.000000000'
 '2020-03-17T00:00:00.000000000' '2020-03-18T00:00:00.000000000'
 '2020-03-19T00:00:00.000000000' '2020-03-20T00:00:00.000000000'
 '2020-03-21T00:00:00.000000000' '2020-03-22T00:00:00.000000000'
 '2020-03-23T00:00:00.000000000' '2020-03-24T00:00:00.000000000'
 '2020-03-25T00:00:00.000000000' '2020-03-26T00:00:00.000000000'
 '2020-03-27T00:00:00.000000000' '2020-03-28T00:00:00.000000000'
 '2020-03-29T00:00:00.000000000' '2020-03-30T00:00:00.000000000'
 '2020-03-31T00:00:00.000000000' '2020-04-01T00:00:00.000000000'
 '2020-04-02T00:00:00.000000000' '2020-04-03T00:00:00.000000000'
 '2020-04-04T00:00:00.000000000' '2020-04-05T00:00:00.000000000'
 '2020-04-06T00:00:00.000000000' '2020-04-07T00:00:00.000000000'
 '2020-04-08T00:00:00.000000000' '2020-04-09T00:00:00.000000000'
 '2020-04-10T00:00:00.000000000' '2020-04-11T00:00:00.000000000'
 '2020-04-12T00:00:00.000000000' '2020-04-13T00:00:00.000000000'
 '2020-04-14T00:00:00.000000000' '2020-04-15T00:00:00.000000000'
 '2020-04-16T00:00:00.000000000' '2020-04-17T00:00:00.000000000'
 '2020-04-18T00:00:00.000000000' '2020-04-19T00:00:00.000000000'
 '2020-04-20T00:00:00.000000000' '2020-04-21T00:00:00.000000000'
 '2020-04-22T00:00:00.000000000' '2020-04-23T00:00:00.000000000'
 '2020-04-24T00:00:00.000000000' '2020-04-25T00:00:00.000000000'
 '2020-04-26T00:00:00.000000000' '2020-04-27T00:00:00.000000000'
 '2020-04-28T00:00:00.000000000' '2020-04-29T00:00:00.000000000'
 '2020-04-30T00:00:00.000000000' '2020-05-01T00:00:00.000000000'
 '2020-05-02T00:00:00.000000000' '2020-05-03T00:00:00.000000000'
 '2020-05-04T00:00:00.000000000' '2020-05-05T00:00:00.000000000'
 '2020-05-06T00:00:00.000000000' '2020-05-07T00:00:00.000000000'
 '2020-05-08T00:00:00.000000000' '2020-05-09T00:00:00.000000000'
 '2020-05-10T00:00:00.000000000' '2020-05-11T00:00:00.000000000'
 '2020-05-12T00:00:00.000000000' '2020-05-13T00:00:00.000000000'
 '2020-05-14T00:00:00.000000000' '2020-05-15T00:00:00.000000000'
 '2020-05-16T00:00:00.000000000' '2020-05-17T00:00:00.000000000'
 '2020-05-18T00:00:00.000000000' '2020-05-19T00:00:00.000000000'
 '2020-05-20T00:00:00.000000000' '2020-05-21T00:00:00.000000000'
 '2020-05-22T00:00:00.000000000' '2020-05-23T00:00:00.000000000'
 '2020-05-24T00:00:00.000000000' '2020-05-25T00:00:00.000000000'
 '2020-05-26T00:00:00.000000000' '2020-05-27T00:00:00.000000000'
 '2020-05-28T00:00:00.000000000' '2020-05-29T00:00:00.000000000'
 '2020-05-30T00:00:00.000000000' '2020-05-31T00:00:00.000000000'
 '2020-06-01T00:00:00.000000000' '2020-06-02T00:00:00.000000000'
 '2020-06-03T00:00:00.000000000' '2020-06-04T00:00:00.000000000'
 '2020-06-05T00:00:00.000000000' '2020-06-06T00:00:00.000000000'
 '2020-06-07T00:00:00.000000000' '2020-06-08T00:00:00.000000000'
 '2020-06-09T00:00:00.000000000' '2020-06-10T00:00:00.000000000'
 '2020-06-11T00:00:00.000000000' '2020-06-12T00:00:00.000000000'
 '2020-06-13T00:00:00.000000000' '2020-06-14T00:00:00.000000000'
 '2020-06-15T00:00:00.000000000' '2020-06-16T00:00:00.000000000'
 '2020-06-17T00:00:00.000000000' '2020-06-18T00:00:00.000000000'
 '2020-06-19T00:00:00.000000000' '2020-06-20T00:00:00.000000000'
 '2020-06-21T00:00:00.000000000' '2020-06-22T00:00:00.000000000'
 '2020-06-23T00:00:00.000000000' '2020-06-24T00:00:00.000000000'
 '2020-06-25T00:00:00.000000000' '2020-06-26T00:00:00.000000000'
 '2020-06-27T00:00:00.000000000' '2020-06-28T00:00:00.000000000'
 '2020-06-29T00:00:00.000000000' '2020-06-30T00:00:00.000000000'
 '2020-07-01T00:00:00.000000000' '2020-07-02T00:00:00.000000000'
 '2020-07-03T00:00:00.000000000' '2020-07-04T00:00:00.000000000'
 '2020-07-05T00:00:00.000000000' '2020-07-06T00:00:00.000000000'
 '2020-07-07T00:00:00.000000000' '2020-07-08T00:00:00.000000000'
 '2020-07-09T00:00:00.000000000' '2020-07-10T00:00:00.000000000'
 '2020-07-11T00:00:00.000000000' '2020-07-12T00:00:00.000000000'
 '2020-07-13T00:00:00.000000000' '2020-07-14T00:00:00.000000000'
 '2020-07-15T00:00:00.000000000' '2020-07-16T00:00:00.000000000'
 '2020-07-17T00:00:00.000000000' '2020-07-18T00:00:00.000000000'
 '2020-07-19T00:00:00.000000000' '2020-07-20T00:00:00.000000000'
 '2020-07-21T00:00:00.000000000' '2020-07-22T00:00:00.000000000'
 '2020-07-23T00:00:00.000000000' '2020-07-24T00:00:00.000000000'
 '2020-07-25T00:00:00.000000000' '2020-07-26T00:00:00.000000000'
 '2020-07-27T00:00:00.000000000' '2020-07-28T00:00:00.000000000'
 '2020-07-29T00:00:00.000000000' '2020-07-30T00:00:00.000000000'
 '2020-07-31T00:00:00.000000000' '2020-08-01T00:00:00.000000000'
 '2020-08-02T00:00:00.000000000' '2020-08-03T00:00:00.000000000'
 '2020-08-04T00:00:00.000000000' '2020-08-05T00:00:00.000000000'
 '2020-08-06T00:00:00.000000000' '2020-08-07T00:00:00.000000000'
 '2020-08-08T00:00:00.000000000' '2020-08-09T00:00:00.000000000'
 '2020-08-10T00:00:00.000000000' '2020-08-11T00:00:00.000000000'
 '2020-08-12T00:00:00.000000000' '2020-08-13T00:00:00.000000000'
 '2020-08-14T00:00:00.000000000' '2020-08-15T00:00:00.000000000'
 '2020-08-16T00:00:00.000000000' '2020-08-17T00:00:00.000000000'
 '2020-08-18T00:00:00.000000000' '2020-08-19T00:00:00.000000000'
 '2020-08-20T00:00:00.000000000' '2020-08-21T00:00:00.000000000'
 '2020-08-22T00:00:00.000000000' '2020-08-23T00:00:00.000000000'
 '2020-08-24T00:00:00.000000000' '2020-08-25T00:00:00.000000000'
 '2020-08-26T00:00:00.000000000' '2020-08-27T00:00:00.000000000'
 '2020-08-28T00:00:00.000000000' '2020-08-29T00:00:00.000000000'
 '2020-08-30T00:00:00.000000000' '2020-08-31T00:00:00.000000000'
 '2020-09-01T00:00:00.000000000' '2020-09-02T00:00:00.000000000'
 '2020-09-03T00:00:00.000000000' '2020-09-04T00:00:00.000000000'
 '2020-09-05T00:00:00.000000000' '2020-09-06T00:00:00.000000000'
 '2020-09-07T00:00:00.000000000' '2020-09-08T00:00:00.000000000'
 '2020-09-09T00:00:00.000000000' '2020-09-10T00:00:00.000000000'
 '2020-09-11T00:00:00.000000000' '2020-09-12T00:00:00.000000000'
 '2020-09-13T00:00:00.000000000' '2020-09-14T00:00:00.000000000'
 '2020-09-15T00:00:00.000000000' '2020-09-16T00:00:00.000000000'
 '2020-09-17T00:00:00.000000000' '2020-09-18T00:00:00.000000000'
 '2020-09-19T00:00:00.000000000' '2020-09-20T00:00:00.000000000'
 '2020-09-21T00:00:00.000000000' '2020-09-22T00:00:00.000000000'
 '2020-09-23T00:00:00.000000000' '2020-09-24T00:00:00.000000000'
 '2020-09-25T00:00:00.000000000' '2020-09-26T00:00:00.000000000'
 '2020-09-27T00:00:00.000000000' '2020-09-28T00:00:00.000000000'
 '2020-09-29T00:00:00.000000000' '2020-09-30T00:00:00.000000000'
 '2020-10-01T00:00:00.000000000' '2020-10-02T00:00:00.000000000'
 '2020-10-03T00:00:00.000000000' '2020-10-04T00:00:00.000000000'
 '2020-10-05T00:00:00.000000000' '2020-10-06T00:00:00.000000000'
 '2020-10-07T00:00:00.000000000' '2020-10-08T00:00:00.000000000'
 '2020-10-09T00:00:00.000000000' '2020-10-10T00:00:00.000000000'
 '2020-10-11T00:00:00.000000000' '2020-10-12T00:00:00.000000000'
 '2020-10-13T00:00:00.000000000' '2020-10-14T00:00:00.000000000'
 '2020-10-15T00:00:00.000000000' '2020-10-16T00:00:00.000000000'
 '2020-10-17T00:00:00.000000000' '2020-10-18T00:00:00.000000000'
 '2020-10-19T00:00:00.000000000' '2020-10-20T00:00:00.000000000'
 '2020-10-21T00:00:00.000000000' '2020-10-22T00:00:00.000000000'
 '2020-10-23T00:00:00.000000000' '2020-10-24T00:00:00.000000000'
 '2020-10-25T00:00:00.000000000' '2020-10-26T00:00:00.000000000'
 '2020-10-27T00:00:00.000000000' '2020-10-28T00:00:00.000000000'
 '2020-10-29T00:00:00.000000000' '2020-10-30T00:00:00.000000000'
 '2020-10-31T00:00:00.000000000' '2020-11-01T00:00:00.000000000'
 '2020-11-02T00:00:00.000000000' '2020-11-03T00:00:00.000000000'
 '2020-11-04T00:00:00.000000000' '2020-11-05T00:00:00.000000000'
 '2020-11-06T00:00:00.000000000' '2020-11-07T00:00:00.000000000'
 '2020-11-08T00:00:00.000000000' '2020-11-09T00:00:00.000000000'
 '2020-11-10T00:00:00.000000000' '2020-11-11T00:00:00.000000000'
 '2020-11-12T00:00:00.000000000' '2020-11-13T00:00:00.000000000'
 '2020-11-14T00:00:00.000000000' '2020-11-15T00:00:00.000000000'
 '2020-11-16T00:00:00.000000000' '2020-11-17T00:00:00.000000000'
 '2020-11-18T00:00:00.000000000' '2020-11-19T00:00:00.000000000'
 '2020-11-20T00:00:00.000000000' '2020-11-21T00:00:00.000000000'
 '2020-11-22T00:00:00.000000000' '2020-11-23T00:00:00.000000000'
 '2020-11-24T00:00:00.000000000' '2020-11-25T00:00:00.000000000'
 '2020-11-26T00:00:00.000000000' '2020-11-27T00:00:00.000000000'
 '2020-11-28T00:00:00.000000000' '2020-11-29T00:00:00.000000000'
 '2020-11-30T00:00:00.000000000' '2020-12-01T00:00:00.000000000'
 '2020-12-02T00:00:00.000000000' '2020-12-03T00:00:00.000000000'
 '2020-12-04T00:00:00.000000000' '2020-12-05T00:00:00.000000000'
 '2020-12-06T00:00:00.000000000' '2020-12-07T00:00:00.000000000'
 '2020-12-08T00:00:00.000000000' '2020-12-09T00:00:00.000000000'
 '2020-12-10T00:00:00.000000000' '2020-12-11T00:00:00.000000000'
 '2020-12-12T00:00:00.000000000' '2020-12-13T00:00:00.000000000'
 '2020-12-14T00:00:00.000000000' '2020-12-15T00:00:00.000000000'
 '2020-12-16T00:00:00.000000000' '2020-12-17T00:00:00.000000000'
 '2020-12-18T00:00:00.000000000' '2020-12-19T00:00:00.000000000'
 '2020-12-20T00:00:00.000000000' '2020-12-21T00:00:00.000000000'
 '2020-12-22T00:00:00.000000000' '2020-12-23T00:00:00.000000000'
 '2020-12-24T00:00:00.000000000' '2020-12-25T00:00:00.000000000'
 '2020-12-26T00:00:00.000000000' '2020-12-27T00:00:00.000000000'
 '2020-12-28T00:00:00.000000000' '2020-12-29T00:00:00.000000000'
 '2020-12-30T00:00:00.000000000' '2020-12-31T00:00:00.000000000'
 '2021-01-01T00:00:00.000000000' '2021-01-02T00:00:00.000000000'
 '2021-01-03T00:00:00.000000000' '2021-01-04T00:00:00.000000000'
 '2021-01-05T00:00:00.000000000' '2021-01-06T00:00:00.000000000'
 '2021-01-07T00:00:00.000000000' '2021-01-08T00:00:00.000000000'
 '2021-01-09T00:00:00.000000000' '2021-01-10T00:00:00.000000000'
 '2021-01-11T00:00:00.000000000' '2021-01-12T00:00:00.000000000'
 '2021-01-13T00:00:00.000000000' '2021-01-14T00:00:00.000000000'
 '2021-01-15T00:00:00.000000000' '2021-01-16T00:00:00.000000000'
 '2021-01-17T00:00:00.000000000' '2021-01-18T00:00:00.000000000'
 '2021-01-19T00:00:00.000000000' '2021-01-20T00:00:00.000000000'
 '2021-01-21T00:00:00.000000000' '2021-01-22T00:00:00.000000000'
 '2021-01-23T00:00:00.000000000' '2021-01-24T00:00:00.000000000'
 '2021-01-25T00:00:00.000000000' '2021-01-26T00:00:00.000000000'
 '2021-01-27T00:00:00.000000000' '2021-01-28T00:00:00.000000000'
 '2021-01-29T00:00:00.000000000' '2021-01-30T00:00:00.000000000'
 '2021-01-31T00:00:00.000000000' '2021-02-01T00:00:00.000000000'
 '2021-02-02T00:00:00.000000000' '2021-02-03T00:00:00.000000000'
 '2021-02-04T00:00:00.000000000' '2021-02-05T00:00:00.000000000'
 '2021-02-06T00:00:00.000000000' '2021-02-07T00:00:00.000000000'
 '2021-02-08T00:00:00.000000000' '2021-02-09T00:00:00.000000000'
 '2021-02-10T00:00:00.000000000' '2021-02-11T00:00:00.000000000'
 '2021-02-12T00:00:00.000000000' '2021-02-13T00:00:00.000000000'
 '2021-02-14T00:00:00.000000000' '2021-02-15T00:00:00.000000000'
 '2021-02-16T00:00:00.000000000' '2021-02-17T00:00:00.000000000'
 '2021-02-18T00:00:00.000000000' '2021-02-19T00:00:00.000000000'
 '2021-02-20T00:00:00.000000000' '2021-02-21T00:00:00.000000000'
 '2021-02-22T00:00:00.000000000' '2021-02-23T00:00:00.000000000'
 '2021-02-24T00:00:00.000000000' '2021-02-25T00:00:00.000000000'
 '2021-02-26T00:00:00.000000000' '2021-02-27T00:00:00.000000000'
 '2021-02-28T00:00:00.000000000' '2021-03-01T00:00:00.000000000'
 '2021-03-02T00:00:00.000000000' '2021-03-03T00:00:00.000000000'
 '2021-03-04T00:00:00.000000000' '2021-03-05T00:00:00.000000000'
 '2021-03-06T00:00:00.000000000' '2021-03-07T00:00:00.000000000'
 '2021-03-08T00:00:00.000000000' '2021-03-09T00:00:00.000000000'
 '2021-03-10T00:00:00.000000000' '2021-03-11T00:00:00.000000000'
 '2021-03-12T00:00:00.000000000' '2021-03-13T00:00:00.000000000'
 '2021-03-14T00:00:00.000000000' '2021-03-15T00:00:00.000000000'
 '2021-03-16T00:00:00.000000000' '2021-03-17T00:00:00.000000000'
 '2021-03-18T00:00:00.000000000' '2021-03-19T00:00:00.000000000'
 '2021-03-20T00:00:00.000000000' '2021-03-21T00:00:00.000000000'
 '2021-03-22T00:00:00.000000000' '2021-03-23T00:00:00.000000000'
 '2021-03-24T00:00:00.000000000' '2021-03-25T00:00:00.000000000'
 '2021-03-26T00:00:00.000000000' '2021-03-27T00:00:00.000000000'
 '2021-03-28T00:00:00.000000000' '2021-03-29T00:00:00.000000000'
 '2021-03-30T00:00:00.000000000' '2021-03-31T00:00:00.000000000'
 '2021-04-01T00:00:00.000000000' '2021-04-02T00:00:00.000000000'
 '2021-04-03T00:00:00.000000000' '2021-04-04T00:00:00.000000000'
 '2021-04-05T00:00:00.000000000' '2021-04-06T00:00:00.000000000'
 '2021-04-07T00:00:00.000000000' '2021-04-08T00:00:00.000000000'
 '2021-04-09T00:00:00.000000000' '2021-04-10T00:00:00.000000000'
 '2021-04-11T00:00:00.000000000' '2021-04-12T00:00:00.000000000'
 '2021-04-13T00:00:00.000000000' '2021-04-14T00:00:00.000000000'
 '2021-04-15T00:00:00.000000000' '2021-04-16T00:00:00.000000000'
 '2021-04-17T00:00:00.000000000' '2021-04-18T00:00:00.000000000'
 '2021-04-19T00:00:00.000000000' '2021-04-20T00:00:00.000000000'
 '2021-04-21T00:00:00.000000000' '2021-04-22T00:00:00.000000000'
 '2021-04-23T00:00:00.000000000' '2021-04-24T00:00:00.000000000'
 '2021-04-25T00:00:00.000000000' '2021-04-26T00:00:00.000000000'
 '2021-04-27T00:00:00.000000000' '2021-04-28T00:00:00.000000000'
 '2021-04-29T00:00:00.000000000' '2021-04-30T00:00:00.000000000'
 '2021-05-01T00:00:00.000000000' '2021-05-02T00:00:00.000000000'
 '2021-05-03T00:00:00.000000000' '2021-05-04T00:00:00.000000000'
 '2021-05-05T00:00:00.000000000' '2021-05-06T00:00:00.000000000'
 '2021-05-07T00:00:00.000000000' '2021-05-08T00:00:00.000000000'
 '2021-05-09T00:00:00.000000000' '2021-05-10T00:00:00.000000000'
 '2021-05-11T00:00:00.000000000' '2021-05-12T00:00:00.000000000'
 '2021-05-13T00:00:00.000000000' '2021-05-14T00:00:00.000000000'
 '2021-05-15T00:00:00.000000000' '2021-05-16T00:00:00.000000000'
 '2021-05-17T00:00:00.000000000' '2021-05-18T00:00:00.000000000'
 '2021-05-19T00:00:00.000000000' '2021-05-20T00:00:00.000000000'
 '2021-05-21T00:00:00.000000000' '2021-05-22T00:00:00.000000000'
 '2021-05-23T00:00:00.000000000' '2021-05-24T00:00:00.000000000'
 '2021-05-25T00:00:00.000000000' '2021-05-26T00:00:00.000000000'
 '2021-05-27T00:00:00.000000000' '2021-05-28T00:00:00.000000000'
 '2021-05-29T00:00:00.000000000' '2021-05-30T00:00:00.000000000'
 '2021-05-31T00:00:00.000000000' '2021-06-01T00:00:00.000000000'
 '2021-06-02T00:00:00.000000000' '2021-06-03T00:00:00.000000000'
 '2021-06-04T00:00:00.000000000' '2021-06-05T00:00:00.000000000'
 '2021-06-06T00:00:00.000000000' '2021-06-07T00:00:00.000000000'
 '2021-06-08T00:00:00.000000000' '2021-06-09T00:00:00.000000000'
 '2021-06-10T00:00:00.000000000' '2021-06-11T00:00:00.000000000'
 '2021-06-12T00:00:00.000000000' '2021-06-13T00:00:00.000000000'
 '2021-06-14T00:00:00.000000000' '2021-06-15T00:00:00.000000000'
 '2021-06-16T00:00:00.000000000' '2021-06-17T00:00:00.000000000'
 '2021-06-18T00:00:00.000000000' '2021-06-19T00:00:00.000000000'
 '2021-06-20T00:00:00.000000000' '2021-06-21T00:00:00.000000000'
 '2021-06-22T00:00:00.000000000' '2021-06-23T00:00:00.000000000'
 '2021-06-24T00:00:00.000000000' '2021-06-25T00:00:00.000000000'
 '2021-06-26T00:00:00.000000000' '2021-06-27T00:00:00.000000000'
 '2021-06-28T00:00:00.000000000' '2021-06-29T00:00:00.000000000'
 '2021-06-30T00:00:00.000000000' '2021-07-01T00:00:00.000000000'
 '2021-07-02T00:00:00.000000000' '2021-07-03T00:00:00.000000000'
 '2021-07-04T00:00:00.000000000' '2021-07-05T00:00:00.000000000'
 '2021-07-06T00:00:00.000000000' '2021-07-07T00:00:00.000000000'
 '2021-07-08T00:00:00.000000000' '2021-07-09T00:00:00.000000000'
 '2021-07-10T00:00:00.000000000' '2021-07-11T00:00:00.000000000'
 '2021-07-12T00:00:00.000000000' '2021-07-13T00:00:00.000000000'
 '2021-07-14T00:00:00.000000000' '2021-07-15T00:00:00.000000000'
 '2021-07-16T00:00:00.000000000' '2021-07-17T00:00:00.000000000'
 '2021-07-18T00:00:00.000000000' '2021-07-19T00:00:00.000000000'
 '2021-07-20T00:00:00.000000000' '2021-07-21T00:00:00.000000000'
 '2021-07-22T00:00:00.000000000' '2021-07-23T00:00:00.000000000'
 '2021-07-24T00:00:00.000000000' '2021-07-25T00:00:00.000000000'
 '2021-07-26T00:00:00.000000000' '2021-07-27T00:00:00.000000000'
 '2021-07-28T00:00:00.000000000' '2021-07-29T00:00:00.000000000'
 '2021-07-30T00:00:00.000000000' '2021-07-31T00:00:00.000000000'
 '2021-08-01T00:00:00.000000000' '2021-08-02T00:00:00.000000000'
 '2021-08-03T00:00:00.000000000' '2021-08-04T00:00:00.000000000'
 '2021-08-05T00:00:00.000000000' '2021-08-06T00:00:00.000000000'
 '2021-08-07T00:00:00.000000000' '2021-08-08T00:00:00.000000000'
 '2021-08-09T00:00:00.000000000' '2021-08-10T00:00:00.000000000'
 '2021-08-11T00:00:00.000000000' '2021-08-12T00:00:00.000000000'
 '2021-08-13T00:00:00.000000000' '2021-08-14T00:00:00.000000000'
 '2021-08-15T00:00:00.000000000' '2021-08-16T00:00:00.000000000'
 '2021-08-17T00:00:00.000000000' '2021-08-18T00:00:00.000000000'
 '2021-08-19T00:00:00.000000000' '2021-08-20T00:00:00.000000000'
 '2021-08-21T00:00:00.000000000' '2021-08-22T00:00:00.000000000'
 '2021-08-23T00:00:00.000000000' '2021-08-24T00:00:00.000000000'
 '2021-08-25T00:00:00.000000000' '2021-08-26T00:00:00.000000000'
 '2021-08-27T00:00:00.000000000' '2021-08-28T00:00:00.000000000'
 '2021-08-29T00:00:00.000000000' '2021-08-30T00:00:00.000000000'
 '2021-08-31T00:00:00.000000000' '2021-09-01T00:00:00.000000000'
 '2021-09-02T00:00:00.000000000' '2021-09-03T00:00:00.000000000'
 '2021-09-04T00:00:00.000000000' '2021-09-05T00:00:00.000000000'
 '2021-09-06T00:00:00.000000000' '2021-09-07T00:00:00.000000000'
 '2021-09-08T00:00:00.000000000' '2021-09-09T00:00:00.000000000'
 '2021-09-10T00:00:00.000000000' '2021-09-11T00:00:00.000000000'
 '2021-09-12T00:00:00.000000000' '2021-09-13T00:00:00.000000000'
 '2021-09-14T00:00:00.000000000' '2021-09-15T00:00:00.000000000'
 '2021-09-16T00:00:00.000000000' '2021-09-17T00:00:00.000000000'
 '2021-09-18T00:00:00.000000000' '2021-09-19T00:00:00.000000000'
 '2021-09-20T00:00:00.000000000' '2021-09-21T00:00:00.000000000'

In [ ]:
#Q1: Top 10 states having highest total death in the year 2020
#Q2: Top 10 states having highest total death in the year 2021


Concat_df = pd.concat([df1, df2], ignore_index=True)
Concat_df['date'] = pd.to_datetime(Concat_df['date'])

# Filter for the years 2020 and 2021
Concat_df_2020 = Concat_df[Concat_df['date'].dt.year == 2020]
Concat_df_2021 = Concat_df[Concat_df['date'].dt.year == 2021]

# Group by state and sum the deaths
state_deaths_2020 = Concat_df_2020.groupby('state')['deaths'].sum().reset_index()
state_deaths_2021 = Concat_df_2021.groupby('state')['deaths'].sum().reset_index()

# Find the top 10 states with the most deaths
top_10 = state_deaths_2020.nlargest(10, 'deaths')
top_10_2021 = state_deaths_2021.nlargest(10, 'deaths')

print("Top 10 States with Most Deaths in 2020:\n", top_10)
print("Top 10 States with Most Deaths in 2021:\n", top_10_2021)

Top 10 States with Most Deaths in 2020:
             state     deaths
33       New York  8320598.0
31     New Jersey  3817150.0
4      California  3065113.0
46          Texas  2927740.0
9         Florida  2632238.0
22  Massachusetts  2222455.0
14       Illinois  2211390.0
40   Pennsylvania  2002629.0
23       Michigan  1837617.0
10        Georgia  1363977.0
Top 10 States with Most Deaths in 2021:
            state      deaths
5     California  24130015.0
47         Texas  21673886.0
34      New York  20141502.0
10       Florida  16640701.0
41  Pennsylvania  10773057.0
32    New Jersey  10010634.0
15      Illinois   9944983.0
11       Georgia   8420800.0
24      Michigan   8047434.0
38          Ohio   7919931.0

In [ ]:
#Q3:Top 10 states having highest average death in the year 2020
#Q4:Top 10 states having highest average death in the year 2021
Concat_df['year'] = Concat_df['date'].dt.year #extracting year from date
Concat_df_2020_2021 = Concat_df[Concat_df['year'].isin([2020, 2021])]
average_deaths = Concat_df_2020_2021.groupby(['state', 'year'])['deaths'].mean().reset_index()
average_deaths_2020 = average_deaths[average_deaths['year'] == 2020]
average_deaths_2021 = average_deaths[average_deaths['year'] == 2021]
top_10_avg_death_2020 = average_deaths_2020.nlargest(10, 'deaths')
top_10_avg_death_2021 = average_deaths_2021.nlargest(10, 'deaths')
print("Top 10 States with highest average Deaths in 2020:\n", top_10_avg_death_2020)
print("Top 10 States with  highest average Deaths in 2021:\n", top_10_avg_death_2021)

Top 10 States with highest average Deaths in 2020:
                    state  year      deaths
63            New Jersey  2020  590.798638
45         Massachusetts  2020  500.102385
67              New York  2020  495.037958
17  District of Columbia  2020  487.983333
83           Puerto Rico  2020  457.537415
13           Connecticut  2020  429.230740
5                Arizona  2020  238.422596
9             California  2020  182.436343
85          Rhode Island  2020  152.694639
19               Florida  2020  135.000410
Top 10 States with  highest average Deaths in 2021:
                    state  year       deaths
84           Puerto Rico  2021  2613.453368
6                Arizona  2021  1217.010302
46         Massachusetts  2021  1182.652850
64            New Jersey  2021  1178.831135
18  District of Columbia  2021  1110.603627
10            California  2021  1077.473320
14           Connecticut  2021   911.553541
68              New York  2021   899.656155
20               Florida  2021   633.979770
86          Rhode Island  2021   447.870466

In [ ]:
#Q5: Top 10 county having highest total death in 2020 and 2021 year together,Output: county, sum_deaths:
Concat_df['year'] = Concat_df['date'].dt.year #extracting year from date
Concat_df_2020_2021 = Concat_df[Concat_df['year'].isin([2020, 2021])]
county_2020_2021 = Concat_df_2020_2021.groupby('county')['deaths'].sum().reset_index()
top_10 = county_2020_2021.nlargest(10, 'deaths')
print(top_10)

             county      deaths
1226  New York City  18529113.0
1032    Los Angeles  10532506.0
414            Cook   5517696.0
1074       Maricopa   4660419.0
1141      Middlesex   3365794.0
1285         Orange   3344199.0
1140     Miami-Dade   3252556.0
1837          Wayne   3238996.0
761          Harris   3165483.0
1174     Montgomery   3126347.0

In [ ]:
#Q6: Find/print all pair of counties that have the same name but belong to two different states:
group_counties = Concat_df.groupby('county')
counties = group_counties.apply(lambda x: x['state'].unique())
duplicate_counties = counties[counties.apply(len) > 1]
duplicate_counties_df = duplicate_counties.reset_index()
duplicate_counties_df.columns = ['County', 'States'] #renaming column name
print(duplicate_counties_df)

        County                                             States
0        Adair               [Iowa, Missouri, Oklahoma, Kentucky]
1        Adams  [Indiana, Colorado, Nebraska, Pennsylvania, Il...
2       Albany                                [New York, Wyoming]
3    Alexander                         [North Carolina, Illinois]
4     Allegany                               [New York, Maryland]
..         ...                                                ...
428      Worth                          [Georgia, Missouri, Iowa]
429     Wright                        [Minnesota, Iowa, Missouri]
430    Wyoming            [New York, Pennsylvania, West Virginia]
431       York  [Virginia, Maine, South Carolina, Pennsylvania...
432       Yuma                                [Colorado, Arizona]

[433 rows x 2 columns]

In [ ]:
#Q7:Print list of Top N states by the least number of death in a specific year. Also needed to be ranked.
#a) Top 10 least death states in 2020
#b) Top 10 least death states in 2021
!pip install us
import us
Concat_df['date'] = pd.to_datetime(Concat_df['date'])
Concat_df['year'] = Concat_df['date'].dt.year
Concat_df_year = Concat_df[Concat_df['year'].isin([2020, 2021])]
def least_deaths_year(df, year):
    # Map state names to abbreviations
    df['state'] = df['state'].apply(lambda x: us.states.lookup(x).abbr if us.states.lookup(x) else x)
    least_deaths = df.groupby(['state', 'year'])['deaths'].sum().reset_index()
    srt_top_10_least_deaths = least_deaths[least_deaths['year'] == year].nsmallest(10, 'deaths')
    top_10_least_deaths = srt_top_10_least_deaths.assign(rank=srt_top_10_least_deaths['deaths'].rank(method='min').astype(int))

    # Drop the 'year' column
    #top_10_least_deaths = top_10_least_deaths.drop('year', axis=1)

    return top_10_least_deaths
top_10_2020 = least_deaths_year(Concat_df_year, 2020)
top_10_2021 = least_deaths_year(Concat_df_year, 2021)
print("Top 10 States with Least Deaths in 2020:\n", top_10_2020.to_string(index=False))
print("Top 10 States with Least Deaths in 2021:\n", top_10_2021.to_string(index=False))

Requirement already satisfied: us in /usr/local/lib/python3.10/dist-packages (3.1.1)
Requirement already satisfied: jellyfish==0.11.2 in /usr/local/lib/python3.10/dist-packages (from us) (0.11.2)

<ipython-input-45-6efb635bfdba>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['state'].apply(lambda x: us.states.lookup(x).abbr if us.states.lookup(x) else x)
<ipython-input-45-6efb635bfdba>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state'] = df['state'].apply(lambda x: us.states.lookup(x).abbr if us.states.lookup(x) else x)

Top 10 States with Least Deaths in 2020:
 state  year  deaths  rank
   MP  2020   544.0     1
   VI  2020  3503.0     2
   GU  2020 10424.0     3
   AK  2020 13147.0     4
   VT  2020 16434.0     5
   WY  2020 20734.0     6
   HI  2020 27227.0     7
   ME  2020 35654.0     8
   MT  2020 58866.0     9
   WV  2020 84127.0    10
Top 10 States with Least Deaths in 2021:
                state  year   deaths  rank
                  AS  2021      0.0     1
                  MP  2021   1099.0     2
                  VI  2021  18463.0     3
                  GU  2021  67067.0     4
                  VT  2021 110363.0     5
                  AK  2021 182601.0     6
                  HI  2021 245040.0     7
                  WY  2021 347898.0     8
                  ME  2021 359036.0     9
District of Columbia  2021 428693.0    10

In [54]:
#Q8:Print Top N states in the last three months of the year 2021. Also needed to be ranked. Also right this output as a file in folder /content/drive/MyDrive/data_preprocessing with header and no index.
#Top 10 least death states in last three months of the year 2021
#Top 10 most death states in last three months of the year 2021

Concat_df['date'] = pd.to_datetime(Concat_df['date'])
date_ranges = [("2020-10-01", "2020-12-31"), ("2021-10-01", "2021-12-31")]
filtered_df = pd.DataFrame()
for start_date, end_date in date_ranges:
    temp_df = Concat_df[(Concat_df['date'] >= start_date) & (Concat_df['date'] <= end_date)]
    filtered_df = pd.concat([filtered_df, temp_df])
deaths_by_state_year = filtered_df.groupby(['state', filtered_df['date'].dt.year])['deaths'].sum().reset_index()

# Separate the data for each year
for year in [2020, 2021]:
    year_data = deaths_by_state_year[deaths_by_state_year['date'] == year]

    # Find top 10 least death states
    top_10_least_deaths = year_data.nsmallest(10, 'deaths').reset_index(drop=True)
    top_10_least_deaths['rank'] = top_10_least_deaths['deaths'].rank(method='min')

    # Find top 10 most death states
    top_10_most_deaths = year_data.nlargest(10, 'deaths').reset_index(drop=True)
    top_10_most_deaths['rank'] = top_10_most_deaths['deaths'].rank(method='min', ascending=False)

    # Define file paths (adjust the base path as per your environment)
    base_path = '/content/drive/MyDrive/data preprocessing/'
    least_deaths_file_path = f'{base_path}top_10_least_deaths_{year}.csv'
    most_deaths_file_path = f'{base_path}top_10_most_deaths_{year}.csv'

    # Write to files without index
    top_10_least_deaths.to_csv(least_deaths_file_path, index=False, header=True)
    top_10_most_deaths.to_csv(most_deaths_file_path, index=False, header=True)