<a href="https://colab.research.google.com/github/aswini-training/python/blob/main/Dataframe_sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sorting pandas - dataFrame.sort_values(by, *, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)[source]
#Sort by the values along either axis. - Axis - In pandas, axis refers to the direction along which an operation is performed. For example, if you want to sum the values in a column,
#you would use axis=0. If you want to sum the values in a row, you would use axis=1.

"""
by
str or list of str
Name or list of names to sort by.

if axis is 0 or ‘index’ then by may contain index levels and/or column labels.

if axis is 1 or ‘columns’ then by may contain column levels and/or index labels.

axis
“{0 or ‘index’, 1 or ‘columns’}”, default 0
Axis to be sorted.

ascending
bool or list of bool, default True
Sort ascending vs. descending. Specify list for multiple sort orders. If this is a list of bools, must match the length of the by.

inplace
bool, default False
If True, perform operation in-place.

kind
{‘quicksort’, ‘mergesort’, ‘heapsort’, ‘stable’}, default ‘quicksort’
Choice of sorting algorithm. See also numpy.sort() for more information. mergesort and stable are the only stable algorithms. For DataFrames, this option is only applied when sorting on a single column or label.

na_position
{‘first’, ‘last’}, default ‘last’
Puts NaNs at the beginning if first; last puts NaNs at the end.

ignore_index = False
bool, default False
If True, the resulting axis will be labeled 0, 1, …, n - 1.

key
callable, optional
Apply the key function to the values before sorting. This is similar to the key argument in the builtin sorted() function,
with the notable difference that this key function should be vectorized. It should expect a Series and return a Series with the same shape as the input.
It will be applied to each column in by independently.
"""

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame({

        'Name': ['Alice', 'Bob', 'Charlie', 'David'],

        'Age': [25, 30, 22, 35],

        'Salary': [50000, 60000, 45000, 70000]
})
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   22   45000
3    David   35   70000

In [25]:
#sort by ascending order - for descending order - ascending=false
import pandas as pd
import numpy as np
df = pd.DataFrame({

        'Name': ['Alice', 'Bob', 'Charlie', 'David'],

        'Age': [25, 30, 22, 35],

        'Salary': [50000, 60000, 45000, 70000]
})
age_by = df.sort_values(by='Age') #by default it sorts in ascending order
print(age_by)
age_by = df.sort_values(by='Age',ascending=True)
print(age_by)
age_by = df.sort_values(by=['Age','Name'],ascending=False) #sorts in descending order
print(age_by)

      Name  Age  Salary
2  Charlie   22   45000
0    Alice   25   50000
1      Bob   30   60000
3    David   35   70000
      Name  Age  Salary
2  Charlie   22   45000
0    Alice   25   50000
1      Bob   30   60000
3    David   35   70000
      Name  Age  Salary
3    David   35   70000
1      Bob   30   60000
0    Alice   25   50000
2  Charlie   22   45000

In [43]:
#sorting NAN values
import pandas as pd
import numpy as np
df = pd.DataFrame({

        'Name': ['Alice', 'Bob', 'Charlie', np.nan, 'David'],

        'Age': [25, np.NaN, 22, 35, 45],

        'Salary': [50000, 60000, np.NaN, 70000,35000]
})
print(df)
na_position = df.sort_values(by=['Name','Salary'], na_position='first') #it sorts nan position for Name column only.
print(na_position)

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob   NaN  60000.0
2  Charlie  22.0      NaN
3      NaN  35.0  70000.0
4    David  45.0  35000.0
      Name   Age   Salary
3      NaN  35.0  70000.0
0    Alice  25.0  50000.0
1      Bob   NaN  60000.0
2  Charlie  22.0      NaN
4    David  45.0  35000.0

In [44]:
#key parameter - The key parameter allows you to specify a custom function that will be used to extract a comparable key from each element when sorting.
#DataFrame.keys() method. Using this method we can get the ‘info axis’. This is the index for Series, columns for DataFrame.
import pandas as pd
import numpy as np
df = pd.DataFrame({

        'Name': ['Alice', 'Bob', 'Charlie', 'David'],

        'Age': [25, 30, 22, 35],

        'Salary': [50000, 60000, 45000, 70000]
})
print(df.keys())

Index(['Name', 'Age', 'Salary'], dtype='object')